@model IEnumerable<PMS.Models.Order>

@{
    ViewBag.Title = "All order";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<h2 class="text-center">All Orders</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client.User_Name)
        </th>
        <th>
            <label>Item_Name</label>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.item.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quentity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.item.Discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.item.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total_Price)
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Client.User_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.item.Price)
            </td>
            <td>
                @Html.DisplayFor(model => item.Quentity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.item.Discount)
            </td>
            <td>
                <img src="@Url.Content(item.item.Image)" width="50" height="50" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total_Price)
            </td>
            
        </tr>
    }

</table>
