<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/styles/AdminStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>
        $(document).ready(function () {
            $('i').click(function () {
                $('ul').toggleClass('ul_show');
                $('section').toggleClass('slide_image');
            });
            $('li').click(function () {
                $(this).addClass('active').siblings().removeClass('active');
            });
        });
    </script>
</head>
<body>
    <ul>
        <li><p class="p">Admin Page</p></li>
        <li class="active"><a href="@Url.Action("AllClient","Admin")">All Client</a></li>
        <li class="active"><a href="@Url.Action("AllProduct","Admin")">All Product</a></li>
        <li class="active"><a href="@Url.Action("AddProduct","Admin")">Add product</a></li>
        <li class="active"><a href="@Url.Action("CreateOrder","Admin")">Create Order</a></li>
        <li class="active"><a href="@Url.Action("AllForEdit","Admin")">Edit Order</a></li>
        <li class="active"><a href="#">Confirming Order</a></li>
        <li class="active"><a href="#">Delete Order</a></li>
        <li class="active"><a href="@Url.Action("Logout","Account")">Logout</a></li>
    </ul>
    <section>
        <i class="fas fa-bars"></i>
        <div class="pop">
            <br /><br />
            @RenderBody()
        </div>
    </section>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
